.collapse {
    width: 100%;

    &_visible {
        box-sizing: border-box;
        background: var(--primary-color);
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        padding: 13px 20px;
        border-radius: 10px;
        width: 100%;

        & h3 {
            font-size: 1.125rem;
        }
    }

    &_toggle {
        display: none;
        color: var(--primary-color);
        background: var(--secondary-color);
        border-radius: 10px;
        margin: 0;
        padding: 30px 20px;
        pointer-events: none;
        font-size: 1.125rem;
        font-weight: 400;
    }
}

.animated {
    display: block;
}

.chevron {
    width: 26px;
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
}

.rotated {
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 769px) {
    .collapse_visible{
        height: 30px;
    }
    .collapse_visible h3{
        font-size: 0.813rem;
    }
    .collapse_toggle {
        font-size: 0.75rem;
    }
    .chevron{
        width: 15px;
    }
}