@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary-color: #FF6060;
  --secondary-color: #F7F7F7;
}

body {
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 769px) {
  .container {
    padding: 20px;
  }
}